
AttributeLearning/.vs/Learning/v16/.suo
AttributeLearning/.vs/Learning/v16/Server/sqlite3/db.lock
AttributeLearning/.vs/Learning/v16/Server/sqlite3/storage.ide
AttributeLearning/.vs/Learning/v16/Server/sqlite3/storage.ide-shm
AttributeLearning/.vs/Learning/v16/Server/sqlite3/storage.ide-wal
AttributeLearning/bin/Debug/AttributeLearning.exe
AttributeLearning/bin/Debug/AttributeLearning.exe.config
AttributeLearning/bin/Debug/AttributeLearning.pdb
AttributeLearning/obj/Debug/AttributeLearning.csproj.FileListAbsolute.txt
AttributeLearning/obj/Debug/AttributeLearning.csprojAssemblyReference.cache
AttributeLearning/obj/Debug/AttributeLearning.exe
AttributeLearning/obj/Debug/AttributeLearning.pdb
AttributeLearning/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
